<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" src="{{imgUrl}}/{{place.image}}"  alt="{{place.image}}">
    <div class="card-body">
        <p class="card-text">{{place.name}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
        </div>
    </div>
</div>