<div class="album py-5 bg-light">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between p-3 my-3 rounded shadow-sm" style="background-color: coral;">

      <!-- <img class="mr-3" src="" alt="" width="48" height="48"> -->

      <div class="lh-100">
        <h4 class="mb-0 lh-100 text-white" style="font-weight: 500;">Places</h4>
        <small class="text-white" style="font-weight: 400;">Collections</small>
      </div>

        <button class="btn btn-success" data-target="#mymodal" data-toggle="modal"><i class="fa fa-plus"></i> Add</button>
      <!-- modal -->
      <div class="modal fade" id="mymodal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h3 class="text-center">Add Place</h3>
              <button type="button" class="close" data-dismiss="modal">&times; </button>
            </div>

            <div class="modal-body">
              <form [formGroup]="registerForm">
                <div class="form-group">
                  <label> <i class="fa fa-tag"></i> Name</label>
                  <input type="text" name="name" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                  <label> <i class="fa fa-map-marker"></i> Location</label>
                  <input type="text" name="location" class="form-control" formControlName="location">
                </div>
                <div class="form-group">
                  <label> <i class="fa fa-file-text-o"></i> Description </label>
                  <textarea name="description" class="form-control" row="4" formControlName="description"></textarea>
                </div>
                <div class="form-group col-md-7">
                  <input type="file" (change)="onFileSelected($event)" name="image" class="form-control-file">
                </div>
              </form>
              <!-- {{registerForm.value | json}} -->
            </div>

            <div class="modal-footer">
              <button class="btn btn-success" data-dismiss="modal" (click)="onSubmit()">Add</button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!hasPlaces" class="row">

      <div class="col-md-4" *ngFor="let place of places">
        <app-place-card [place]="place"></app-place-card>
      </div>

    </div>

    <div *ngIf="hasPlaces" class="row">
      <p>There is no places.</p>
    </div>

  </div>
</div>